@{
    ViewData["Title"] = "Northwest Central Library";
    ViewData["Message"] = "Welcome to the Northwest Central Library, recognized for our efforts in community education in 2017 by WazzU! Our astounding selection of resources allow you to offer every patron in our facility a tremendous experience!Please, ensure each patron is logged and authenticated before checking out materials and facility resources.  Also, ensure each juvenile member account is associated with an adult member. The conferences, lectures and personal workshops for this month, including the annual United for Libraries Friend Conference, a lecture series on Winter Gardening in the Pacific Northwest and the Becoming a Better Leader Workshop, are posted within the entrances of the library, as well as at every desk. Don't forget to mark your calendar for the next American Library Association meeting in Conference Hall A on February 25, 2018 at 7:00pm.";
}
@*<h1>@ViewData["Title"]</h1>*@
<img src="~/images/nwc.png" alt="Northwest Central Library" class="avatar" /> </br>
<h3>@ViewData["Message"]</h3>
<br /><a href="Register_Page">Register</a></br>
<a href="About_Page">About</a>
