@model NW_Central_Library.Models.LibraryModels.CheckOut

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CheckOut</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdultId" />
            <div class="form-group">
                <label asp-for="JuvenileId" class="control-label"></label>
                <input asp-for="JuvenileId" class="form-control" />
                <span asp-validation-for="JuvenileId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="MediaCopyId" />
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckedInDate" class="control-label"></label>
                <input asp-for="CheckedInDate" class="form-control" />
                <span asp-validation-for="CheckedInDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
